# [submodule "src/px4_msgs"]
# 	path = src/px4_msgs
# 	url = https://github.com/PX4/px4_msgs.git
# [submodule "src/px4_ros_com"]
# 	path = src/px4_ros_com
# 	url = https://github.com/PX4/px4_ros_com.git
[submodule "Micro-XRCE-DDS-Agent"]
	path = Micro-XRCE-DDS-Agent
	url = https://github.com/eProsima/Micro-XRCE-DDS-Agent.git
[submodule "PX4-Autopilot"]
	path = PX4-Autopilot
	url = https://github.com/griimmm/PX4-Autopilot.git
	branch = proj_dev
[submodule "ros2_aruco"]
	path = src/ros2_aruco
	url = https://github.com/JMU-ROBOTICS-VIVA/ros2_aruco.git
	branch = opencv_4.7
[submodule "src/rtab/src/rtabmap_ros"]
	path = src/rtab/src/rtabmap_ros
	url = git@github.com:ArthurAlexandersson/rtabmap_ros.git
	branch = ros2
[submodule "src/rtab/src/rtabmap"]
	path = src/rtab/src/rtabmap
	url = https://github.com/introlab/rtabmap.git
[submodule "src/velodyne_simulator"]
	path = src/velodyne_simulator
	url = https://github.com/ToyotaResearchInstitute/velodyne_simulator
[submodule "src/lidar_object_detection"]
	path = src/lidar_object_detection
	url = https://github.com/keyvan-dadash/lidar_object_detection
[submodule "slam_toolbox"]
	path = slam_toolbox
	url = git@github.com:ArthurAlexandersson/slam_toolbox.git
